.container {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(10, 100px);
  grid-auto-flow: dense;
}

#title {
  grid-column-end: -1;
  grid-column-start: 1;
}

.siblings {
  grid-column: span 2;
  grid-row: span 1;
}

.uncles,.aunts {
  grid-column: span 1;
  grid-row: span 2;
}

.grandparents {
  grid-column: span 2;
  grid-row: span 2;
}

/* Style other types of family members below*/
